@font-face{
    font-family: "Akaya Telivigala";
    src: url(../assets/AkayaTelivigala.woff2);
}

/*Colors*/
:root{
    --bg: light-dark(#fbf1c7,#282828);
    --text: light-dark(#3c3836,#ebdbb2);
    --accent: light-dark(#458588,#458588);
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Base styling */
body {
  font-family: "Akaya Telivigala", sans-serif;
  color: var(--text);
  background: var(--bg);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
  height: 100vh;
  max-width: 100wh;
  margin: 0;
  padding: 0 1rem;
  text-align: center;
  scroll-behavior: smooth;
}

header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;


    background: var(--bg);
    width: 100%;
    text-align: center;
}

li {
    display: inline;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;

}

main, footer {
    flex: 1;
    display: block;
    width: 100%;
    max-width: 45rem;
    margin: 0 auto;
}

footer{
    text-align: center;
    font-size: 1rem;
    margin-top: 4rem;
}

header, footer,
main h1 {
    margin-bottom: 2rem;
}

/* Format headers */
h1 {
    font-size: 3rem;

    margin-bottom: 1rem;
    overflow-wrap: break-word;
    text-wrap: balance;

    line-height: 1.1;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--accent);
}

/* Reduce header size on mobile */
@media only screen and (max-width: 720px) {
    h1 {
        font-size: 2.5rem;
    }
}

p {
    margin: 1.5rem 0;
}

img {
    display: block;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  filter: drop-shadow(5px 5px 5px black);
  margin-left: auto;
  margin-right: auto;
}

/*Theme Switcher*/
:root:has(#light:checked) {
  color-scheme: light;
}
:root:has(#dark:checked) {
  color-scheme: dark;
}
input[name="theme"] {
  appearance: none;
  margin: 0;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
label:has(input:focus-visible) {
  outline: 0.2em solid var(--accent);
}
.themeswitch:has(input:not(:checked)):hover {
  color: var(--bg);
  background-color: var(--text);
}

.themeswitch {
  background-color: transparent;
  color: var(--text);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: 0.5s;
  padding: 10px 10px;
  margin: 0px 0px;
  font-family: inherit;
  outline-offset: 2px;
}
@media screen and (max-width: 600px){
    body{

    font-size: 1rem;
    }
    img {
        width: 150px;
        height: 150px;
    }
}
