
/* Global variables. */
:root {
    color-scheme: light;
  /* Set sans-serif & mono fonts */
  --sans-font:  Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  --serif-font: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  --mono-font: ui-monospace, 'FiraCode Nerd Font', 'Fira Code','Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --heading-font: var(--sans-font);
  --text-font: var(--serif-font);
  --standard-border-radius: 5px;
  --border-width: 1px;



  /* Everforest theme */
  --bg: light-dark(#fbf1c7, #212121);
  --accent-bg: light-dark(#fbf1c7,#2b2b2b);
  --text: light-dark(#3c3836,#dcdcdc);
  --text-light: light-dark(#504945,#ababab);
  --border: transparent;
  --accent: light-dark(#076678,#ffb300);
  --accent-hover: light-dark(#458588,#ffe099);
  --accent-text: var(--bg);
  --code: light-dark(#8f3f71,#f06292);
  --preformatted: light-dark(#444,#ccc);
  --marked: #ffdd33;
  --disabled: light-dark(#efefef,#111);

  /* /\* Default (light) theme *\/ */
  /* --bg: light-dark(#fff, #212121); */
  /* --accent-bg: light-dark(#f5f7ff,#2b2b2b); */
  /* --text: light-dark(#212121,#dcdcdc); */
  /* --text-light: light-dark(#585858,#ababab); */
  /* --border: #898EA4; */
  /* --accent: light-dark(#0d47a1,#ffb300); */
  /* --accent-hover: light-dark(#1266e2,#ffe099); */
  /* --accent-text: var(--bg); */
  /* --code: light-dark(#d81b60,#f06292); */
  /* --preformatted: light-dark(#444,#ccc); */
  /* --marked: #ffdd33; */
  /* --disabled: light-dark(#efefef,#111); */
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
